* {
    margin: 0px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}
.nav{
    height: 80px;
    width: 100vw;
    background-color: black;
    color: whitesmoke;
    font-size:3rem;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
}

.main-sec
{
   height: 530px;
   width: 480px;
   background-color: rgba(223, 213, 213, 0.477);
   border: 2px solid black;
   margin-top: 30px;
   margin-left: 33vw;
} 
.photo {
    height:400px;
    margin-top: 18px;
    margin-bottom:10px ;
    width:400px;
    margin-left: 40px;
    margin-right: 15px;
    background-image: url("https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTzyTGbQKZnS1VAuNWP2DaPnOLSMljOK7mqYy3bCgiYSjy0ZcM_TFj8WDRgXSFsOKxvos44cpsa8dAYPjsRRuZBm7X7dKJQi1E579kr_iqYEyu3CoJ9wshGRSE");
    background-size:cover ;
}

.detail {
    margin: 15px;
}
.detail p {
    margin-top: 8px;
}
#p1 {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: left;
    font-family: sans-serif;
}
#p2 {
   font-weight: 100;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.589);
}
ins {
    color: green;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}
del {
    color: rgba( 0, 0, 0, 0.3);
}
.cart
{
    height: 25px;
    border-radius: 5px;
    margin: 15px;
    background-color: rgb(56, 119, 196);
    color: rgba(255, 255, 255, 0.753);
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    
}